<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.rentalcompany.dao.ILocationDAO">
    <resultMap id="LocationResultMap" type="com.solvd.rentalcompany.entity.Location" autoMapping="false">
        <result column="id_location" property="idLocation" />
        <result column="city" property="city" />
    </resultMap>
    <select id="get" parameterType="Long" resultMap="LocationResultMap">
        SELECT * FROM location WHERE id_location =#{id_order}
    </select>
    <select id="getAll" resultMap="LocationResultMap">
        SELECT * FROM location
    </select>
    <insert id="insert">
        INSERT into location (city)
        VALUES (#{city})
    </insert>
    <update id="update">
        UPDATE location SET
        city =#{city}
        WHERE id_location =#{id_location}
    </update>
    <delete id="delete">
        DELETE From location WHERE id_location =#{id_location}
    </delete>
</mapper>