<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.rentalcompany.dao.IWorkShiftDAO">
    <resultMap id="WorkShiftResultMap" type="com.solvd.rentalcompany.entity.WorkShift" autoMapping="false">
        <result column="id_work_shitf" property="idWorkShift" />
        <result column="time_range" property="timeRange" />
    </resultMap>
    <select id="get" parameterType="Long" resultMap="WorkShiftResultMap">
        SELECT * FROM work_shift WHERE id_work_shitf =#{id_work_shitf}
    </select>
    <select id="getAll" resultMap="WorkShiftResultMap">
        SELECT * FROM work_shift
    </select>
    <insert id="insert">
        INSERT into work_shift (time_range)
        VALUES (#{time_range})
    </insert>
    <update id="update">
        UPDATE work_shift SET
        time_range =#{time_range}
        WHERE id_work_shitf =#{id_work_shitf}
    </update>
    <delete id="delete">
        DELETE From work_shift WHERE id_work_shitf =#{id_work_shitf}
    </delete>
</mapper>